<script lang="ts">
	import Hero from '$lib/components/organisms/Hero.svelte';
	import About from '$lib/components/organisms/About.svelte';
	import RecentPosts from '$lib/components/organisms/RecentPosts.svelte';
	import Features from '$lib/components/organisms/Features.svelte';
	import type { Feature, BlogPost, Stat } from '$lib/utils/types';
	import Stats from '$lib/components/organisms/Stats.svelte';

	export let data: {
		features: Feature[];
		posts: BlogPost[];
		stats: Stat[];
	};

	let { features, posts, stats } = data;
</script>

<div class="container">
	<Hero />
	<About />
	{#if posts && posts.length > 0}
		<RecentPosts {posts} />
	{/if}
	<Features {features} />
	<Stats {stats} />
</div>
