<script lang="ts">
	import type { Stat } from '$lib/utils/types';
	import StatCard from '$lib/components/molecules/StatCard.svelte';
	import ContentSection from '$lib/components/organisms/ContentSection.svelte';

	export let stats: Stat[];
</script>

<ContentSection
	id="stat"
	title="Stats"
	description="Number of devices altered under our Programs."
>
	<div class="features-container">
		<div class="three-group-grid">
			{#each stats as stat}
				<StatCard
					statement={stat.statement}
					value={stat.value}
				/>
			{/each}
		</div>
	</div>
</ContentSection>

<style lang="scss">
	@import '$lib/scss/breakpoints.scss';

	.features-container {
		width: 70%;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}

	.three-group-grid {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;

		// @media (max-width: 1085px) {
		// 	grid-template-columns: 1fr 1fr;
		// }

		@include for-phone-only {
            width: 100%;
			grid-template-columns: 1fr;
		}

		// Select every 3 elements, starting from position 2
		// And make it take up 2 rows
		// @media (min-width: 1086px) {
		// 	> :global(:nth-child(3n + 2)) {
		// 		grid-row: span 2;
		// 	}
		// }

		// Select every 3 elements, starting from position 1
		// And make it take up 2 columns
		// > :global(:nth-child(3n + 1)) {
		// 	@media (max-width: 1085px) {
		// 		grid-column: span 2;
		// 	}

		// 	@include for-tablet-portrait-down {
		// 		grid-template-columns: 1fr;
		// 		grid-column: unset;
		// 	}
		// }
	}
</style>
