<script lang="ts">
	import TeamMemberCard from '$lib/components/molecules/TeamMemberCard.svelte';
	import ContentSection from '$lib/components/organisms/ContentSection.svelte';
	import type { Member } from '$lib/utils/types';

	export let data: {
		members: Member[];
	};

	let { members } = data;
	console.log("This is " + members);


</script>

<div class="container">
	<ContentSection title="Meet Our Team">
		<div class="grid">
			{#each members as member}
			<TeamMemberCard
				title={member.title}
				coverImage={member.coverImage}
				description={member.description}
				connect={member.socials}
			/>
			{/each}
		</div>
	</ContentSection>
</div>

<style lang="scss">
	@import '$lib/scss/_mixins.scss';

	.grid {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 80px;

		@include for-tablet-portrait-down {
			grid-template-columns: 3fr;
		}

		@include for-tablet-landscape-up {
			// Select every 6 elements, starting from position 1
			// And make it take up 6 columns
			> :global(:nth-child(6n + 1)) {
				grid-column: span 3;
			}
			// Select every 6 elements, starting from position 2
			// And make it take up 3 columns
			> :global(:nth-child(6n + 2)) {
				grid-column: span 3;
			}
			// Select every 6 elements, starting from position 3
			// And make it take up 3 columns
			> :global(:nth-child(6n + 3)) {
				grid-column: span 3;
			}
			// Select every 6 elements, starting from position 4, 5 and 6
			// And make it take up 2 columns
			> :global(:nth-child(6n + 4)),
			:global(:nth-child(6n + 5)),
			:global(:nth-child(6n + 6)) {
				grid-column: span 3;
			}
		}
	}
</style>
