<script lang="ts">
	import Card from '$lib/components/atoms/Card.svelte';
	import SparklingHighlight from './SparklingHighlight.svelte';
	export let statement: string;
	export let value: number;
</script>

<Card additionalClass="feature-card">
	<div class="content" slot="content">
		<div class="title">
			<span>{statement}</span>
			<SparklingHighlight color="secondary">
				<h1>
					{value}
				</h1>
			</SparklingHighlight>
		</div>	
	</div>
	<div class="footer" slot="footer">
			<a href="">more</a>
	</div>
</Card>

<style lang="scss">
	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		font-size: 1.2rem;
		font-family: var(--font--title);
		font-weight: 700;
	}
	.footer {
		float: right;
		margin-top: 10px;
	}

	:global(.feature-card .image img) {
		object-fit: cover;
	}
</style>
