<script>
	import EmailIcon from '$lib/icons/socials/email.svelte';
	import MastodonIcon from '$lib/icons/socials/mastodon.svelte';
</script>

<div class="socials">
	<a
		href="https://mastodon.social/@TheBigOCommunity"
		target="_blank"
		rel="me noreferrer"
		title="Say Hi on Mastodon"
	>
		<MastodonIcon />
	</a>

	<a
		href="https://diode.zone/c/the_big_0_community/videos"
		target="_blank"
		rel="noopener noreferrer"
		title="Watch our Videos"
	>
		<img src="/images/peertube-logo.svg" alt="peertube logo" />
	</a>
	<a
		href="mailto:thebigocommunity@skiff.com"
		target="_blank"
		rel="noopener noreferrer"
		title="Send an email"
	>
		<EmailIcon />
	</a>
</div>

<style lang="scss">
	@import '../../scss/breakpoints.scss';
	.socials {
		display: flex;
		align-items: center;
		gap: 20px;

		a {
			transition: all 0.2s ease-in-out;
			width: 24px;
			color: var(--color--text);
			fill: var(--color--text);

			&:hover {
				color: var(--color--primary);
				fill: var(--color--primary);
				filter: drop-shadow(0px 0px 3px var(--color--primary));
			}
		}
	}
</style>
