<script lang="ts">
	import TeamCard from '$lib/components/atoms/TeamCard.svelte';
	import MastodonIcon from '$lib/icons/socials/mastodon.svelte';
	import type { Connect } from '$lib/utils/types';
	import Image from '../atoms/Image.svelte';
	import TeamConnect from './TeamConnect.svelte';

	export let title: string;
	export let coverImage: string | undefined = undefined;
	export let description: string;
	export let connect: Connect[];
</script>

<TeamCard>
	<div class="image" slot="image">
		{#if coverImage}
			<Image src={coverImage} alt="profile" />
		{/if}
	</div>

	<div class="content" slot="content">
		<h2>
			{title}
		</h2>

		<h5>
			{description}
		</h5>
	</div>
	<!-- Social links of Member -->
	<div class="socials" slot="footer">
		{#each connect as c}
			<div>
				<a href={c.link} title="Say Hi on Mastodon" target="_blank">
						{c.platform}
				</a>
			</div>
		{/each}
	</div>
</TeamCard>

<style lang="scss">
	.content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
	}

	.socials {
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;

		a {
			transition: all 0.2s ease-in-out;
			width: 24px;
			color: var(--color--text);
			fill: var(--color--text);

			&:hover {
				color: var(--color--primary);
				fill: var(--color--primary);
				filter: drop-shadow(0px 0px 3px var(--color--primary));
			}
		}
	}

	:global(.blog-post-card .image img) {
		object-fit: cover;
	}

	:global(.blog-post-card.no-image > .image) {
		display: none;
	}
</style>
